<% include partials/header %>
<h1><strong>SEARCH FOR A MOVIE</strong></h1>


<form action="/results" method="GET">
    <input type="text" placeholder="MOVIE NAME" name="search">
    <input type="Submit">
</form>

<% include partials/footer %>